In [15]:
import numpy as np

In [2]:
my_list = [1,2,3,4]

In [4]:
my_array = np.array(my_list)

In [5]:
my_array

array([1, 2, 3, 4])

In [6]:
my_list2 = [11,22,33,44]

In [7]:
my_lists = [my_list,my_list2]

In [8]:
my_array2 = np.array(my_lists)

In [9]:
my_array2

array([[ 1,  2,  3,  4],
       [11, 22, 33, 44]])

In [10]:
my_lists

[[1, 2, 3, 4], [11, 22, 33, 44]]

In [11]:
my_list+my_list2

[1, 2, 3, 4, 11, 22, 33, 44]

In [12]:
np.array(my_list+my_list2)

array([ 1,  2,  3,  4, 11, 22, 33, 44])

In [13]:
np.array(my_list+my_list2).shape

(8,)

In [14]:
my_array2.shape

(2, 4)

In [15]:
my_array2.dtype

dtype('int32')

In [16]:
type(my_array2)

numpy.ndarray

In [11]:
np.zeros(5)

array([ 0.,  0.,  0.,  0.,  0.])

In [18]:
my_zeros_array = np.zeros(5)

In [19]:
my_zeros_array.dtype

dtype('float64')

In [20]:
np.ones([5,5])

array([[ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.,  1.]])

In [21]:
np.empty(5)

array([ 0.,  0.,  0.,  0.,  0.])

In [22]:
np.eye(2)

array([[ 1.,  0.],
       [ 0.,  1.]])

In [23]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [24]:
np.arange(5,50,2)

array([ 5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37,
       39, 41, 43, 45, 47, 49])

In [25]:
np.zeros([5,5])

array([[ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.]])

In [10]:
np.arange(5,50)

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
       22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
       39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [3]:
arr = [2,3]
arr

[2, 3]

In [14]:
[i*2 for i in arr]

[4, 6]

In [19]:
arr.append(5)
arr

[2, 3, 5, 5]

In [20]:
arr.remove(5)

In [21]:
arr

[2, 3, 5]

In [28]:
arr.reverse()
arr

[5, 3, 2]

In [30]:
arr[::-1]

[2, 3, 5]

In [31]:
import MySQLdb

ImportError: No module named 'MySQLdb'